@import 'fonts';
@import 'vars';
@import 'mixins';
@import 'utils';


*{
	font-family: $g;
}

.Header{
	padding: 22px 0;
}

.SiteLogo{
	display: inline-block;
	vertical-align: middle;
	width: 74px;

	img{
		width: 100%;
	}
}

.Menu{
	display: inline-block;
	margin-left: 90px;

	ul{
		margin: 0;
		padding: 0;
	}

	li{
		display: inline-block;
		padding: 0 20px;
		position: relative;

		&:last-child{
			a{
				@include transition(all, .3s, ease);
				border: 1px dotted $color3;
				border-radius: 20px;
				padding: 4px 20px;
				font-weight: 400;

				span{
					font-weight: 900;
				}

				&::after{
					display: none;
				}
			}
		}

		a{
			color: $color1;
			display: block;
			font-size: 16px;
			font-weight: 900;
			position: relative;
			text-decoration: none;

			&::after{
				@include transition(all, .2s, ease);
				background-color: $color1;
				bottom: -5px;
				content: "";
				display: block;
				height: 1px;
				left: 0;
				opacity: 0;
				position: absolute;
				width: 100%;
			}
		}

		&:hover{
			a{
				&::after{
					opacity: 1;
					bottom: 0;
				}
			}

			&:last-child{
				a{
					background-color: $color3;
					border-style: solid;
				}
			}
		}
	}
}

.Video{
	height: 100%;
	//padding-bottom: 40%;
	width: 100%;

	&-item{
		float: left;
		height: 100%;
		overflow: hidden;
		//padding-bottom: 40%;
		position: relative;
		width: 16.666%;

		&::after{
			@include transition(opacity, .3s, ease);

			background: rgba(13,132,59,0.95);
			background: -moz-linear-gradient(top, rgba(13,132,59,0.95) 0%, rgba(13,132,59,0.9) 30%, rgba(13,132,59,0.8) 49%, rgba(13,132,59,0.31) 80%, rgba(248,80,50,0) 100%);
			background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(13,132,59,0.95)), color-stop(30%, rgba(13,132,59,0.9)), color-stop(49%, rgba(13,132,59,0.8)), color-stop(80%, rgba(13,132,59,0.31)), color-stop(100%, rgba(248,80,50,0)));
			background: -webkit-linear-gradient(top, rgba(13,132,59,0.95) 0%, rgba(13,132,59,0.9) 30%, rgba(13,132,59,0.8) 49%, rgba(13,132,59,0.31) 80%, rgba(248,80,50,0) 100%);
			background: -o-linear-gradient(top, rgba(13,132,59,0.95) 0%, rgba(13,132,59,0.9) 30%, rgba(13,132,59,0.8) 49%, rgba(13,132,59,0.31) 80%, rgba(248,80,50,0) 100%);
			background: -ms-linear-gradient(top, rgba(13,132,59,0.95) 0%, rgba(13,132,59,0.9) 30%, rgba(13,132,59,0.8) 49%, rgba(13,132,59,0.31) 80%, rgba(248,80,50,0) 100%);
			background: linear-gradient(to bottom, rgba(13,132,59,0.95) 0%, rgba(13,132,59,0.9) 30%, rgba(13,132,59,0.8) 49%, rgba(13,132,59,0.31) 80%, rgba(248,80,50,0) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d843b', endColorstr='#f85032', GradientType=0 );

			content: "";
			display: block;
			height: 100%;
			position: absolute;
			width: 100%;
			z-index: 1;
			top: 0;
			left: 0;
		}

		> a{
			display: block;
			height: 100%;
		}

		&:hover{
			img{
				opacity: 0;
				-webkit-filter: grayscale(0);
				filter: grayscale(0);
			}

			.fundo{
				fill: #FFF;
			}

			.stroke{
				fill: $color4;
				stroke: $color4;
			}

			&::after{
				opacity: 0;
			}

			.Video-icon{
				top: 52%;

				h2{
					opacity: 1;
				}
			}
		}
	}

	&-icon{		
		@include transition(top, .35s, ease-in-out);
		
		position: absolute;
		top: 55%;
		width: 100%;
		z-index: 2;


		.u-border{
			
			margin: 0 auto;
			height: 92px;
			width: 92px;
			position: relative;
		}

		svg{
			@include center;
			display: block;
			height: auto;
			margin: 0 auto;
			position: absolute;
			width: 90%;

			.fundo,
			.stroke{
				@include transition(all, .3s, ease);
			}
		}

		h2{
			@include transition(opacity .25s linear .1s);

			color: white;
			font-size: 24px;
			font-weight: 900;
			line-height: 1;
			margin: 15px 0 0;
			opacity: 0;
			text-align: center;
			text-transform: uppercase;
			width: 100%;
		}
	}

	img{
		@include transition(opacity, .3s, ease);

		-webkit-filter: grayscale(1);
		filter: grayscale(1);
		left: 0;
		opacity: 1;
		position: absolute;
		top: 0;
		width: 100%;
	}

	video{
		//padding-bottom: 40%;
		left: 0;
		top: 0;
		width: 100%;
	}
}

.Banner{
	position: relative;
	overflow: hidden;

	&-title{
		@include center(x);

		position: absolute;
		text-align: center;
		top: 80px;
		z-index: 2;

		h1,
		p{
			color: white;
			letter-spacing: -0.2px;
		}

		h1{
			font-size: 48px;
			font-weight: 900;
			line-height: 1;
			margin-bottom: 10px;
		}

		p{
			font-size: 18px;
			line-height: 21px;
			margin: 0;
		}
	}
	
	&-line{
		position: absolute;
		top: -8px;
		z-index: 2;
		left: 40px;	
	}

	> .u-container{
		position: relative;
	}
}